// import typeface 'Roboto' from Google CDN
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

:root {
  background-color: #cccccc;
}

#home-container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      0.5fr
    );
  grid-template-areas: '. left right .';
  align-items: start;
}

#inner {
  overflow: auto;
  max-width: 100%;
  height: calc(100vh - 16px);
  grid-area: left;
  justify-self: center;
}

#illustration {
  overflow: auto;
  max-width: 100%;
  height: calc(100vh - 16px);
  grid-area: right;
  justify-self: center;
}

img#logo {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.landing-header {
  margin-top: 0;
  text-transform: uppercase;
  color: #535353;
  margin-bottom: 0.2em;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

p.subtitle {
  font-size: 1.4em;
  color: #858585;
  margin-top: 0;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}

#sign-in {
  object-fit: fill;
  width: 100%;
  margin-top: 10vh;
  animation: sign-inIn 1s ease-in-out forwards;
  opacity: 0;
}

@keyframes sign-inIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
